 @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
 * {
     box-sizing: border-box;
 }

 html {
     font-size: 62.5%;
 }

 body {
     background: #224941 url('./images/background.jpg') no-repeat center center/cover;
     font-family: 'Lato', sans-serif;
     color: white;
     margin: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     overflow: hidden;
 }

 h1 {
     position: absolute;
     top: 0px;
     font-family: 'Lato', sans-serif;
     font-size: 5rem;
 }

 h2 {
     text-align: center;
     margin: 0 0 2rem;
     font-family: 'Lato', sans-serif;
     font-size: 3rem;
 }

 .container {
     background: #010f1c94;
     width: 38rem;
     border: 0.1rem solid white;
     position: absolute;
     top: center;
     left: center;
 }

 .form {
     padding: 3rem 4rem;
 }

 label {
     font-size: 1.5rem;
 }

 .register {
     margin-bottom: 1rem;
     padding-bottom: 2rem;
     position: relative;
 }

 .register label {
     display: block;
     margin-bottom: 0.6rem;
 }

 .register input {
     border-radius: 0.4rem;
     color: white;
     width: 100%;
     display: block;
     padding: 1rem;
     font-size: 1.6rem;
     background-color: rgba(255, 255, 255, 0.082);
 }

 .register input:focus {
     outline: none;
     border-color: white;
 }

 .register.success input {
     border-color: lightgreen;
 }

 .register.error input {
     border-color: red;
 }

 .register small {
     color: red;
     position: absolute;
     bottom: 0;
     left: 0;
     visibility: hidden;
 }

 .register.error small {
     visibility: visible;
 }

 .form button {
     cursor: pointer;
     background-color: lightgreen;
     border: 2px solid lightgreen;
     border-radius: 0.4rem;
     display: block;
     font-size: 1.4rem;
     font-weight: bold;
     width: 100%;
     padding: 1rem;
 }